body {
  background: silver;
}
* {
  margin: 0;
}
h1 {
  padding: 20px;
  outline: 2px solid red;
}
.grid1 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  row-gap: 50px;
  column-gap: 30px;
}
